.modal__background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeeeee;
    z-index: 1000;
}

.modal {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(219, 219, 219)
}

.close__button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    border-radius: 5px;
}

.close__button:hover {
    background-color: rgb(239, 33, 33);
}

.modal__body {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(219, 219, 219)
}

.modal__footer {
    display: flex;
    justify-content: right;
}
